* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    overflow: hidden;
    border-radius: 50%; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%; /* Ensure image inside container is also rounded */
}